.header-section {
    position: relative;
    width: 100%;
}
.header-section.sticky {
    position: fixed;
    top: 0;
    z-index: 9;
}
.header-section > .container-fluid {
    background-color: #ffffff;
    padding: 0 5rem;
    position: relative;
    z-index: 99;
}
.header-section.sticky > .container-fluid,
.header-section.sticky > .nav-item {
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
}

.header-section.sticky input,
.header-section.sticky .advanced-search .category-btn {
    background-color: rgba(255, 255, 255, 0.85);
}

.header-section .header-top {
    position: relative;
    z-index: 100;
    transform: scaleY(1);
    transform-origin: top;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.header-section.sticky .header-top {
    transform: scaleY(0);
    display: none;
}
.header-section .inner-header {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.header-section .inner-header .input-group {
    position: unset;
}

.header-section.sticky .inner-header {
    padding: 15px 0;
}
.header-section .advanced-search,
.header-section .nav-right,
.header-section .nav-categories,
.header-section .nav-menu {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    transform: scale(1);
}
.header-section.sticky .advanced-search,
.header-section.sticky .nav-right,
.header-section.sticky .nav-categories,
.header-section.sticky .nav-menu {
    transform: scale(0.85);
}

.header-section .nav-item {
    position: relative;
    z-index: 98;
}
.header-section.sticky .nav-item {
    height: 40.8px;
    background-color: var(--grey-dark-60);
}

.nav-item .container {
    display: flex;
    align-items: center;
}
.nav-fake-categories {
    position: relative;
    /* float: left; */
}
.nav-fake-categories .category-list.show {
    opacity: 1;
    visibility: visible;
}
.nav-categories .cate-btn.show:before {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.nav-categories .cate-btn {
    /* background: var(--grey-dark); */
    color: #ffffff;
    padding: 12px 84px 12px 18px;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.nav-categories .cate-btn:hover,
.nav-categories .cate-btn:active {
    background: var(--violet);
    color: #ffffff;
}

.nav-categories .cate-btn:before {
    position: absolute;
    color: #ffffff;
    right: 20px;
    top: 10px;
    content: "";
    font-family: FontAwesome;
    font-size: 18px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.nav-categories i {
    color: #ffffff;
    font-size: 16px;
}

.nav-categories span {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 16px;
}

.nav-fake-categories .category-list {
    position: absolute;
    width: 80vw;
    max-height: 60vh;
    overflow-y: scroll;
    left: 20px;
    top: 8px;
    opacity: 0;
    visibility: hidden;
    z-index: 99999;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    padding: 0 0 20px 0;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around;
    align-items: flex-start;
    align-content: center; */
    gap: 16px 0px;
    -webkit-box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
    box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
    border: 1px solid #ebebeb;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.nav-fake-categories .category-list:after {
    content: " ";
    position: absolute;
    bottom: 100%; /* At the top of the tooltip */
    left: 22.5%;
    margin-left: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
}

.nav-fake-categories .category-list li {
    list-style: none;
}

.nav-fake-categories .category-list > li > .category-list-header {
    font-weight: 800;
    color: var(--violet) !important;
}

.nav-fake-categories .category-list li.active a {
    color: var(--violet);
}

.nav-fake-categories .category-list li .category-list-header,
.nav-fake-categories .category-list li a {
    display: block;
    font-size: 0.9rem;
    color: var(--blue-dark);
    padding: 8px 20px 0px 30px;
    width: 11rem;
    /* -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; */
}

.nav-fake-categories .category-list li a:hover {
    color: var(--violet);
}

.inner-header .advanced-search .input-group {
    max-width: 100%;
}
.inner-header .nav-right li.heart-icon,
.inner-header .nav-right li.cart-icon {
    padding-right: 20px;
}
.inner-header .nav-right li a > div:first-child {
    display: inline-block;
    font-size: 1rem;
}
.inner-header .nav-right li.cart-icon .cart-hover::after {
    content: " ";
    position: absolute;
    bottom: 100%; /* At the top of the tooltip */
    left: 70%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
}

.shadowed {
    -webkit-filter: drop-shadow(0px 2px 2px rgba(130, 130, 130, 1));
    filter: drop-shadow(0px 2px 2px rgba(130, 130, 130, 1));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#444')";
}

.inner-header .nav-right li.cart-icon .cart-hover .cart-header-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px 0px;
    align-items: center;
    padding-bottom: 20px;
}
.inner-header
    .nav-right
    li.cart-icon
    .cart-hover
    .cart-header-list
    .cart-section {
    display: flex;
    flex: 100%;
    margin-left: 0;
}
.inner-header .nav-right li.cart-icon .cart-hover .cart-header-list .si-pic {
    border: 1px solid #ebebeb;
    width: 50px;
    height: 50px;
    display: inline-block;
}
.inner-header
    .nav-right
    li.cart-icon
    .cart-hover
    .cart-header-list
    .si-pic
    img {
    min-width: 48px;
    height: auto;
}
.inner-header
    .nav-right
    li.cart-icon
    .cart-hover
    .cart-header-list
    .product-selected-right {
    align-self: flex-start;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    margin-left: 10px;
}
.inner-header .nav-right li.cart-icon .cart-hover .cart-header-list .si-text {
    flex-basis: auto;
    font-weight: 300;
    font-size: 0.85rem;
    margin-top: -2px;
}
.inner-header
    .nav-right
    li.cart-icon
    .cart-hover
    .cart-header-list
    .si-price-qty {
    /* align-self: flex-end; */
    /* flex: 0 0 auto; */
    /* text-align: right; */
    font-size: 0.8rem;
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
}
.inner-header
    .nav-right
    li.cart-icon
    .cart-hover
    .cart-header-list
    .product-selected-price {
    font-weight: 700;
    color: var(--violet);
}
