.filter-widget
    .filter-range-wrap
    .price-range.ui-widget-content
    .ui-slider-handle:hover,
.filter-widget
    .filter-range-wrap
    .price-range.ui-widget-content
    .ui-slider-handle:active {
    -webkit-transform: scale(1.8);
    -ms-transform: scale(1.8);
    transform: scale(1.8);
}

.product-search .displaying-products {
    text-align: right;
    margin-top: -64px;
    margin-bottom: 30px;
}

.product-search .displaying-products p {
    margin-bottom: 0;
}

.product-search .loading-more {
    margin-top: 30px;
}
.product-search .myTooltip.myTooltip-top .tooltiptext {
    min-width: fit-content;
    width: 50px;
    left: 140%;
}
.product-search .loading-more li {
    z-index: 1;
}
.product-search .loading-more li a {
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.65rem 0.9rem;
}
.product-search .loading-more li.first a,
.product-search .loading-more li.previous a,
.product-search .loading-more li.next a,
.product-search .loading-more li.last a {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.585rem 0.9rem;
}
.product-search .loading-more li a:before {
    background-color: unset;
}
.product-search .loading-more li.active a {
    background-color: var(--violet);
    border-color: var(--violet);
}

@media only screen and (max-width: 767px) {
    .product-search .displaying-products {
        margin: 0;
    }
}
