.filter-widget
    .filter-range-wrap
    .price-range.ui-widget-content
    .ui-slider-handle:hover,
.filter-widget
    .filter-range-wrap
    .price-range.ui-widget-content
    .ui-slider-handle:active {
    -webkit-transform: scale(1.8);
    -ms-transform: scale(1.8);
    transform: scale(1.8);
}

.filter-widget {
    margin-bottom: 15px;
}
.filter-widget .fw-check {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2px;
    column-gap: 5px;
    justify-content: flex-start;
    align-items: flex-start;
}
.filter-widget .fw-check .bc-item {
    flex: 0 0 48%;
}
.filter-widget .fw-check .bc-item label {
    padding-left: 20px;
    margin-bottom: 0;
    font-size: 0.8rem;
    vertical-align: top;
}

.filter-widget .fw-check .bc-item label .checkmark {
    top: 2px;
}

.product-search .displaying-products {
    text-align: right;
    margin-top: -64px;
    margin-bottom: 30px;
}

.product-search .displaying-products p {
    margin-bottom: 0;
}

.product-search .loading-more {
    margin-top: 30px;
}
.product-search .myTooltip.myTooltip-top .tooltiptext {
    min-width: fit-content;
    width: 50px;
    left: 140%;
}
.product-search .loading-more li {
    z-index: 1;
}
.product-search .loading-more li a {
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.65rem 0.9rem;
}
.product-search .loading-more li.first a,
.product-search .loading-more li.previous a,
.product-search .loading-more li.next a,
.product-search .loading-more li.last a {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.585rem 0.9rem;
}
.product-search .loading-more li a:before {
    background-color: unset;
}
.product-search .loading-more li.active a {
    background-color: var(--violet);
    border-color: var(--violet);
}

@media only screen and (max-width: 767px) {
    .product-search .displaying-products {
        margin: 0;
    }
}
@media only screen and (max-width: 991px) {
    .filter-widget .fw-check .bc-item {
        flex: 1;
        column-gap: 15px;
    }
}

.product-item {
    margin-bottom: 32px;
}
.product-item .pi-text {
    padding-top: 10px;
}
.product-item .pi-text a h6 {
    font-size: 0.98rem;
    line-height: 1.4rem;
}
.product-item .pi-text .product-price {
    font-size: 0.98rem;
    padding-top: 8px;
}
